* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 5, 31);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header-logo h1 {
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    color: #ededed;
}

.header-cont a {
    color: #ededed;
    margin-left: 75px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 2ms ease;
}

.header-cont a:hover {
    color: aqua;
}

.header-cont a.act {
    color: red;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-cont {
    color: #ededed;
}

.home-cont h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
}

.home-cont h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.home-cont p {
    font-size: 18px;
    line-height: 1.2;
    margin-right: 70vh;
    word-spacing: 4px;
}

.media {
    margin-top: -120px;
}

.media h1 {
    font-size: 40px;
    color: #ededed;
    padding: 0 10%;
}

.media .media-logo {
    font-size: 40px;
    padding-left: 10%;
    z-index: 100;
    display: flex;
    flex-direction: row;
}

.media-logo a {
    border-radius: 50%;
    border-radius: 2px solid white;
    color: white;
    background: transparent;
}

.media-logo li {
    padding: 12px 17px;
    list-style-type: none;
    color: #ededed;
}

.media .media-logo li a #fb:hover {
    color: rgb(86, 86, 255);
    transition: .5s;
}

.media .media-logo li a #ig:hover {
    color: rgb(201, 0, 208);
    transition: .5s;
}

.media .media-logo li a #twi:hover {
    color: rgb(105, 105, 105);
    transition: .5s;
}

.contact-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.contact-form {
    padding: 40px 50px;
    border-radius: 20px;
    background-color: rgb(43, 46, 75);
    justify-content: space-evenly;
    margin-left: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contactinp {
    width: 400px;
    height: 50px;
    border: 1px solid black;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px; 
}

.formsg {
    height: 150px;
    padding-top: 15px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    width: 400px;
}

.btnsmt {
    height: 29px;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.btnsmt:hover {
    background-color: rgb(0, 255, 238);
}

.contactus {
    color: #ededed;
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
}

.icons {
    display: flex;
    position: relative;
    padding: 20px 0;
    color: white;
}

.icons .icon1 {
    min-width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 29px;
}

.texts {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    margin-right: 29vh;
}

.texts h1 {
    font-weight: 700;
    margin-bottom: 2px;
    text-decoration: underline;
}

.aboutme {
    color: #ededed;
    display: flex;
    text-justify: auto;
    text-align: center;
    margin: 29vh 20vh;
    flex-direction: column;
    font-size: 20px;
    font-weight: 550;
    gap: 10px;
}

.aboutme a {
    color: rgb(120, 120, 255);
}

.aboutme a:hover {
    color: cyan;
}